# make npm install faster
# https://github.com/lmk123/blog/issues/28

# set global npm config registry to use the npmmirror.com registry
# npm config set registry https://registry.npmmirror.com

registry=https://registry.npmmirror.com
